* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100vw;
}

form {
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    background: linear-gradient(to top, rgb(4, 74, 4) ,black, black);
    width: 20rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    transition: all 1s linear;

}

form:hover{
    box-shadow: 0px 0px 20px white;
    background: linear-gradient(to bottom, rgb(4, 74, 4) ,black, black);
}


.input {
    width: 15rem;
    position: relative;
    height: 20px;
    border-radius: 0.5rem;
}

.input input {
    width: 100%;
    position: relative;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.input i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.input input:focus~i,
.input input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

form button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    background-color: red;
    border: none;
    color: white;
    border-radius: 0.5rem;
}

form button:active {
    scale: 0.95;
    opacity: 0.6;
}

.accounts {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.account {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(4, 74, 4) ,black, black);
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px white;
}

.account .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.account .heading .icon{
    font-size: 2rem ;

}

.account .heading  h1 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
    white-space: nowrap ;
}
.account .bio{
    font-size: 0.8rem;
    color: #aaa;
    margin-bottom: 1.4rem;
    text-align: center;
}
.account .company{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.account .follow-section{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.account .follow-section .followers{
    font-size: 1rem;
}
.account .follow-section .following{
    font-size: 1rem;
}
.account .follow-section .followers span,
.account .follow-section .following span {
    color: rgb(12, 157, 12);
}
.account .publicrepo{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.account button{
    padding: 10px 20px;
    font-size: 0.8rem;
    border: 2px solid red;
    background-color: transparent;
    color: red;
    border-radius: 0.8rem;
    transition: all 0.2s linear;
}
.account button:hover{
    background-color: red;
    color: white;
}
.account button:active{
    scale: 0.95;
}